@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: no-repeat url(/img/background.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Roboto'
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container {
    width: 1028px;
    margin: 46px auto 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    height: 61px;
    margin-bottom: 26px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo:hover .logo-white {
    display: none;
}

.logo:hover .logo-white-hover {
    display: block;
}

.logo-white-hover {
    display: none;
}

.logo:hover {
    color: #F26522;
}

.header-contacts a:hover,
.main-image:hover .image-title{
    color: #F26522;
    transition: all 0.4s ease-in-out;
}

.logo-text {
    padding-left: 10px;
    margin: 6px 0 0; 
}

.logo-text span {
    font-size: 29px;
    line-height: 29px;
}

.logo-text,
.header-contacts a,
.image-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.header-contacts a,
.logo,
.image-title,
.main-block,
.footer {
    color: white;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 60px;
    row-gap: 40px;
}

.main-image {
    text-align: center;
}

.main-block img {
    width: 300px;
    height: 220px;
}

.main-block {
    position: relative;
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 3px solid transparent;
    background:linear-gradient(to bottom, black, white) border-box;
}

.main-block-price {
    position: absolute;
    width: 100%;
    height: 55px;
    bottom: 0;
    background: #F26522;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translate(0px, 55px);
}

.main-image:hover .main-block-price {
    opacity: 1;
    transform: translate(0px, 0px); 
}

.main-block-content {
    height: 36px;
    margin-left: 16px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.main-block-link {
    font-size: 14px;
    margin: 14px 16px;
}

.from {
    font-size: 10px;
}

.price {
    font-size: 20px;
}

.main-block-link::after {
    content: url(/img/right_arrow.png);
    margin-left: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 50px auto 15px;
}

.footer p {
    font-size: 12px;
}